{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
       <table border="1">
           <tr>
               <th>Element</th>
               <th>Value</th>
           </tr>
           <tr>
               <td>Id</td>
               <td>{{ element.id }}</td>
           </tr>
           <tr>
               <td>Name</td>
               <td>{{ element.name }}</td>
           </tr>
       </table>

    </div>
{% endblock %}
