{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul>
        {% for element in elements %}
            <li>{{ element.id }} - {{ element.name }}</li>
        {% else %}
        {% endfor %}
        </ul>

    </div>
{% endblock %}
